/* Add custom CSS */

.hero {
  padding: 0px;
}


.hero-info {
  .hero-title {
    span {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    span.visible {
      opacity: 1;
    }
  }
}

[data-theme="dark"] {
  --color-primary: rgb(60,158,88);
}


.single-feature-img img {
    filter: grayscale(0%);
}

.project-entry-img img {
  
    filter: grayscale(0%);
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .iframe-container {
      padding-top: 40%; /* Sesuaikan tinggi container untuk lebar layar yang lebih besar */
    }
}

@media (min-width: 1200px) {
    .iframe-container {
      padding-top: 100%; /* Sesuaikan tinggi container untuk lebar layar yang lebih besar lagi */
    }
}