/* Add custom CSS */

.hero {
  padding: 0px;
}


.hero-info {
  .hero-title {
    span {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    span.visible {
      opacity: 1;
    }
  }
}

[data-theme="dark"] {
  --color-primary: rgb(60,158,88);
}


.single-feature-img img {
    filter: grayscale(0%);
}

.project-entry-img img {
  
    filter: grayscale(0%);
}
